
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">assignment_day23_1</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
      </ul>
      
    </ul>
  </nav>

<form action="http://localhost:3000/" method="POST">
    <div class="form-group">
      <label for="Fullname">Full name</label>
      <input type="Fullname" class="form-control" name="Fullname" aria-describedby="emailHelp" placeholder="Full name">
      
    </div>
    <div class="form-group">
      <label for="Username">User name</label>
      <input type="Username" class="form-control" name="Username" placeholder="User name">
    </div>

    <div class="form-group">
        <label for="Address">Address</label>
        <input type="Address" class="form-control" name="Address" placeholder="Address">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

